# Statlog German Credit Data

## Add a table of contents
###Introduce the dataset and the purpose of the analysis

In [17]:
import numpy as np
import pandas as pd

# 1. Data Ingestion and Exploration

## 1.1 Data Ingestion

#### We will keep it simple for now, and load the data as a csv. We will build an ingestion pipeline for live data later on.

In [18]:
file_path = 'data/statlog+german+credit+data/german.data'
sep = ' '
header = None
df = pd.read_csv(file_path, sep=sep, header=header)

In [19]:
column_names = [
    'checking_account_status',
    'duration_in_month',
    'credit_history',
    'purpose',
    'credit_amount',
    'savings_account_status',
    'present_employment_range',
    'installment_rate_in_percentage_of_disposable_income',
    'personal_status_and_sex',
    'coapplicants_and_guarantor',
    'present_residence_since',
    'property_type',
    'age_in_years',
    'other_installment_plans',
    'housing_status',
    'number_of_existing_credits_at_this_bank',
    'job_type',
    'number_of_dependents',
    'telephone_status',
    'foreign_worker_status',
    'credit_risk'
]

df.columns = column_names

In [20]:
df.head()

,checking_account_status,duration_in_month,credit_history,purpose,credit_amount,savings_account_status,present_employment_range,installment_rate_in_percentage_of_disposable_income,personal_status_and_sex,coapplicants_and_guarantor,...,property_type,age_in_years,other_installment_plans,housing_status,number_of_existing_credits_at_this_bank,job_type,number_of_dependents,telephone_status,foreign_worker_status,credit_risk
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   checking_account_status                              1000 non-null   object
 1   duration_in_month                                    1000 non-null   int64
 2   credit_history                                       1000 non-null   object
 3   purpose                                              1000 non-null   object
 4   credit_amount                                        1000 non-null   int64
 5   savings_account_status                               1000 non-null   object
 6   present_employment_range                             1000 non-null   object
 7   installment_rate_in_percentage_of_disposable_income  1000 non-null   int64
 8   personal_status_and_sex                              1000 non-null   object
 9   coapplicants_and_guarantor                           1000 non-null   object
 10  present_residence_since                              1000 non-null   int64
 11  property_type                                        1000 non-null   object
 12  age_in_years                                         1000 non-null   int64
 13  other_installment_plans                              1000 non-null   object
 14  housing_status                                       1000 non-null   object
 15  number_of_existing_credits_at_this_bank              1000 non-null   int64
 16  job_type                                             1000 non-null   object
 17  number_of_dependents                                 1000 non-null   int64
 18  telephone_status                                     1000 non-null   object
 19  foreign_worker_status                                1000 non-null   object
 20  credit_risk                                          1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [22]:
df.isnull().sum()

checking_account_status                                0
duration_in_month                                      0
credit_history                                         0
purpose                                                0
credit_amount                                          0
savings_account_status                                 0
present_employment_range                               0
installment_rate_in_percentage_of_disposable_income    0
personal_status_and_sex                                0
coapplicants_and_guarantor                             0
present_residence_since                                0
property_type                                          0
age_in_years                                           0
other_installment_plans                                0
housing_status                                         0
number_of_existing_credits_at_this_bank                0
job_type                                               0
number_of_dependents                                   0
telephone_status                                       0
foreign_worker_status                                  0
credit_risk                                            0
dtype: int64

In [23]:
continuity_status = False

for col in df.columns:
    if np.issubdtype(df[col].dtype, np.floating):
        continuity_status = True
        print(f'Continuity found in {col}: {df[col].dtype}')
if not continuity_status:
    print('No Continuities Found.')

No Continuities Found.

In [24]:
variable_types = {
    'checking_account_status': 'ordinal',
    'duration_in_month': 'numeric_continuous',
    'credit_history': 'ordinal',
    'purpose': 'nominal',
    'credit_amount': 'numeric_continuous',
    'savings_account_status': 'ordinal',
    'present_employment_range': 'ordinal',
    'installment_rate_in_percentage_of_disposable_income': 'numeric_continuous',
    'personal_status_and_sex': 'nominal',
    'coapplicants_and_guarantor': 'nominal',
    'present_residence_since': 'numeric_discrete',
    'property_type': 'nominal',
    'age_in_years': 'numeric_discrete', # considering the fact that all
    # values are int64 and that no continuity was found in our check above,
    # age will create natural bins therefore receive treatment as a
    # discrete variable.
    'other_installment_plans': 'nominal',
    'housing_status': 'nominal',
    'number_of_existing_credits_at_this_bank': 'numeric_discrete',
    'job_type': 'ordinal', # considering the fact that the sequence goes from
    # unemployed/unskilled>management/officer
    'number_of_dependents': 'numeric_discrete',
    'telephone_status': 'binary',
    'foreign_worker_status': 'binary',
    'credit_risk': 'binary'
}

In [25]:
### Data Remapping

### Data Remapping

Since we are focusing our analysis to this bank/performing an internal
credit analysis, and not
focusing on credit from other institutions, we will not map data unrelated to
 this bank.

Additionally, at this moment, we are interested in exploring our dataset.
Hence, we will not encode categorical data into numeric values. That will be
done during the analysis portion of this paper, as well as in the production
application.

In [26]:
df_index_map = {
    'checking_account_status': {
        'A11': '< 0 DM',
        'A12': '0 - 200 DM',
        'A13': '>= 200 DM',
        'A14': 'No Checking Account'
    },
    'credit_history': {
        'A30': 'No credits taken',
        'A31': 'All credits paid back duly',
        'A32': 'existing credits paid back duly till now',
        'A33': 'Delay in paying off in the past',
        'A34': 'Critical account'
    },
    'purpose': {
        'A40': 'new car',
        'A41': 'used car',
        'A42': 'furniture/equipment',
        'A43': 'radio/television',
        'A44': 'domestic appliances',
        'A45': 'repairs',
        'A46': 'education',
        'A47': 'vacation',
        'A48': 'retraining',
        'A49': 'business',
        'A410': 'other'
    },
    'savings_account_status': {
        'A61': '< 100 DM',
        'A62': '100 <=...< 500 DM',
        'A63': '500 <=...< 1000 DM',
        'A64': '>= 1000 DM',
        'A65': 'unknown/no savings account'
    },
    'present_employment_range': {
        'A71': 'unemployed',
        'A72': '< 1 year',
        'A73': '1 <=...< 4 years',
        'A74': '4 <=...< 7 years',
        'A75': '>= 7 years',
    },
    'personal_status_and_sex': {
        'A91': 'male/divorced or separated',
        'A92': 'female/not single',
        'A93': 'male/single',
        'A94': 'male/married or widowed',
        'A95': 'female/single',
    },
    'coapplicants_and_guarantor': {
        'A101': 'none',
        'A102': 'co-applicant',
        'A103': 'guarantor',
    },
    'property_type': {
        'A121': 'real estate',
        'A122': 'building society savings agreement/life insurance',
        'A123': 'car or other',
        'A124': 'unknown/no property',
    },
    'other_installment_plans': {
        'A141': 'bank',
        'A142': 'stores',
        'A143': 'none',
    },
    'housing_status': {
        'A151': 'renter',
        'A152': 'owner',
        'A153': 'for free',
    },
    'job_type': {
        'A171': 'unskilled non-resident',
        'A172': 'unskilled resident',
        'A173': 'skilled employee/official',
        'A174': 'management/self-employed/highly qualified employee/officer'
    },
    'telephone_status': {
        'A191': 'none',
        'A192': 'yes',
    },
    'foreign_worker_status': {
        'A201': 'yes',
        'A202': 'no',
    },
    'credit_risk': {
        1: 'Good',
        2: 'Bad'
    }
}

In [27]:
for column, mapping in df_index_map.items():
    if column in df.columns:
        df[column] = df[column].map(mapping)
    else:
        print(f'Column {column} not found in DataFrame. Skipping mapping.')

df.head()

,checking_account_status,duration_in_month,credit_history,purpose,credit_amount,savings_account_status,present_employment_range,installment_rate_in_percentage_of_disposable_income,personal_status_and_sex,coapplicants_and_guarantor,...,property_type,age_in_years,other_installment_plans,housing_status,number_of_existing_credits_at_this_bank,job_type,number_of_dependents,telephone_status,foreign_worker_status,credit_risk
0,< 0 DM,6,Critical account,radio/television,1169,unknown/no savings account,>= 7 years,4,male/single,none,...,real estate,67,none,owner,2,skilled employee/official,1,yes,yes,Good
1,0 - 200 DM,48,existing credits paid back duly till now,radio/television,5951,< 100 DM,1 <=...< 4 years,2,female/not single,none,...,real estate,22,none,owner,1,skilled employee/official,1,none,yes,Bad
2,No Checking Account,12,Critical account,education,2096,< 100 DM,4 <=...< 7 years,2,male/single,none,...,real estate,49,none,owner,1,unskilled resident,2,none,yes,Good
3,< 0 DM,42,existing credits paid back duly till now,furniture/equipment,7882,< 100 DM,4 <=...< 7 years,2,male/single,guarantor,...,building society savings agreement/life insurance,45,none,for free,1,skilled employee/official,2,none,yes,Good
4,< 0 DM,24,Delay in paying off in the past,new car,4870,< 100 DM,1 <=...< 4 years,3,male/single,none,...,unknown/no property,53,none,for free,2,skilled employee/official,2,none,yes,Bad

In [28]:
df.isnull().sum()

checking_account_status                                0
duration_in_month                                      0
credit_history                                         0
purpose                                                0
credit_amount                                          0
savings_account_status                                 0
present_employment_range                               0
installment_rate_in_percentage_of_disposable_income    0
personal_status_and_sex                                0
coapplicants_and_guarantor                             0
present_residence_since                                0
property_type                                          0
age_in_years                                           0
other_installment_plans                                0
housing_status                                         0
number_of_existing_credits_at_this_bank                0
job_type                                               0
number_of_dependents                                   0
telephone_status                                       0
foreign_worker_status                                  0
credit_risk                                            0
dtype: int64